@charset "utf-8";
/* CSS Document */

.bgheader {background-color: rgba(160,0,0,1.00);width: 100%;height: 100px;padding: inherit;position: fixed;}
.bgads {background: url("../../menu/img/background.png");width: 100%;height: 500px;padding: inherit;text-align: center;background-position: center;background-repeat: no-repeat;}
.bgads-sec {background-image: url("../../menu/img/background_tw.png");width: 100%;height: 50px;padding: inherit;background-position: center;background-repeat: no-repeat;}
.bgsec {background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #ddd 100%),url("../img/bgsec.png");width: 100%;height: 2050px;padding: inherit;}
.bgadssec {background-color: rgba(221,221,221,1.00);width: 100%;height: 700px;padding: inherit;}
.bgadstrh {background-color: rgba(216,216,216,1.00);width: 100%;height: 500px;padding: inherit;}
.bgadshis {background-color: rgba(211,211,211,1.00);width: 100%;height: 1px;padding: inherit;}
.bgmap {background-color: rgba(216,216,216,1.00);width: 100%;height: 500px;padding: inherit;}
.bgfooter {background-color: rgba(160,0,0,1.00);width: 100%;height: 450px;padding: inherit;}

.option-menu {width: 100px;left: -550px;top: 20px;position: fixed;margin: 0px 50% 0px 50%}
.option-menu img {width: auto;}
.option-bobs {width: 610px;left: -450px;top: 20px;position: fixed;margin: 0px 50% 0px 50%}
.option-bobs img {width: 50%;}
.option-buttons ul {list-style-type: none;text-align: center;font-family: "Trebuchet MS";}
.option-buttons li {float: inherit;}
.option-buttons a.option-buttons-top:link,a.option-buttons-top:visited {background-color: #D00000;color: white;padding: 10px;text-decoration: none;border-radius: 5px;display: block;box-shadow: 0px 5px rgb(0 0 0 / 25%);font-weight:1000;}
.option-buttons a.option-buttons-top:hover,a.option-buttons-top:active {background-color: #C00000;transition: 0.5s;box-shadow: 0px 0px rgb(0 0 0 / 0%);}
.option-buttons-1 {left: 85px;top: 30px;width: 180px;height: 35px;position: fixed;margin: 0px 50% 0px 50%}
.option-buttons-2 {left: 275px;top: 30px;width: 90px;height: 35px;position: fixed;margin: 0px 50% 0px 50%}
.option-buttons-3 {left: 375px;top: 30px;width: 130px;height: 35px;position: fixed;margin: 0px 50% 0px 50%}
.navegation-content-bg-invisible {width: 100%;height: 200px;}
.navegation {background-color: rgba(0,0,0,0.50);width: 265px;height: 50px;padding: 10px;}
.navegation h2 {text-decoration: none;color: rgba(245,245,245,1.00);margin: 2px;font-size: 28px;}
.navegation ul {list-style-type: none;text-align: center;}
.navegation li {float: inherit;}
.navegation a.navegation-li-a:link,a.navegation-li-a:visited {text-decoration: none;color: rgba(245,245,245,1.00);margin: 2px;font-size: 18px;}
.navegation a.navegation-li-a:hover,a.navegation-li-a:active {text-decoration: underline;color: rgba(255,255,255,1.00);}

.interface-content-table-red {background-color: rgba(184,52,29,1.00);width: 1000px;height: auto;margin-top: 200px;border-radius: 10px;color: white;}
.interface-content-table-table-all {width: 1000px;height: auto;margin: auto;text-align: justify;font-size: 15px;}
.interface-content-table-red-table {width: 450px;height: auto;margin: 10px 20px 0px 20px;}
.interface-content-table-red-flex {display: flex;}
.interface-content-table-red-left img {margin: auto;}
.interface-content-table-red-left h4 {margin-right: auto;margin-left: 70px;padding-top: 5px;}
.interface-content-table-red-right img {margin: auto;}
.interface-content-table-red-right h4 {margin-right: auto;margin-left: 70px;padding-top: 5px;}
.interface-content-article {background-color: rgba(253,253,253,1.00);border-radius: 25px 25px 0px 0px;width: 1100px;height: 1950px;padding: 10px;}
.interface-content-title {background-color: rgba(253,253,253,1.00);width: 1000px;height: 100px;margin-top: 25px;}
.interface-content-title img {margin: -100px 0px 0px 0px}
.interface-content-title h2 {text-align: left;color: black;font-size: 30px;}
.interface-content-title p {text-align: left;color: black;font-size: 18px;font-family: "Trebuchet MS";margin: -10px 0px 0px 0px}
.interface-content-table {background-color: rgba(250,250,250,1.00);width: 1000px;height: auto;margin-top: auto;}
.interface-content-table h3 {text-align: justify;font-size: 24px;margin-bottom: 10px}
.interface-content-table p {font-size: 17px;font-weight: 100;margin-bottom: 30px;color: grey}
.interface-content-table form {text-align: justify;}
.interface-content-table select {width: 50%;height: 40px;border-radius: 5px;font-size: 20px;font-family: "Trebuchet MS";}
.interface-content-table input {width: 99%;height: 30px;border-radius: 5px;font-size: 20px;font-family: "Trebuchet MS";}
.fale-conosco-form-input {width: 200%;margin: auto;padding: auto;}
.fale-conosco-form-input-flex {display: flex}
.fale-conosco-form-left {margin-right: auto;width: 320px}
.fale-conosco-form-right {margin-right: 180px;width: 170px;}
.fale-conosco-form-msg input {height: 30px;}
.fale-conosco-form-checkbox {margin: 20px 0px 0px 50px;text-align: justify}
.fale-conosco-form-checkbox-submit input {margin: 15px 0px 0px 50px;float: left;width: 200px;height: 40px;border-radius: 5px;box-shadow: 0px 2px 5px 0px darkred;color: white;background-color: red}
.interface-content-table-list {margin: 30px 30px 150px 30px;font-family: "Trebuchet MS";text-align: justify}
.interface-content-table-list img {margin: 20px;border-radius: 10px;}
.interface-content-table-list h3 {margin: 20px;font-size: 30px;}
.interface-content-table-list p {margin: 20px;font-size: 16px;font-weight: 100;}
.interface-content-table-list ul {margin: 30px}
.interface-content-table-list li {text-align: justify;font-size: 17px}

.bgadssec-content-article-ads img {margin-right: 15px;margin-left: 15px;}
.bgadssec-content-article {padding: 10px;}
.bgadssec-content-title h1 {color: rgba(250,0,0,1.00);}
.bgadssec-content-title h3 {font-weight: 500;}
.bgadssec-content-table {width: 1200px;height: auto;margin-top: 25px;}
.bgadssec-content-title-text-down {width: 1200px;height: auto;text-align: left;margin-top: 575px;font-size: 14px;font-weight: bold;}
.bgadssec-content-option {width: 400px;height: auto;float: left;}
.bgadssec-content-option a {text-decoration: none;}
.bgadssec-content-option-1 {background-color: white;width: 380px;height: 700px;float: justify;border-radius: 25px;margin: 0px;box-shadow: 0px 30px 50px 10px rgba(10,10,10,0.10);}
.bgadssec-content-option-2 {background-color: white;width: 380px;height: 700px;float: justify;border-radius: 25px;margin: 1px;box-shadow: 0px 30px 50px 10px rgba(10,10,10,0.10);}
.bgadssec-content-option-3 {background-color: white;width: 380px;height: 700px;float: justify;border-radius: 25px;margin: 5px;box-shadow: 0px 30px 50px 10px rgba(10,10,10,0.10);}
.bgadssec-content-option h3 {font-size: 20px;text-align: left;padding: 0px 0px 0px 20px;color: rgba(10,10,10,1.00);}
.bgadssec-content-option p {font-size: 16px;text-align: left;margin: 15px 20px 0px 20px;color: rgba(40,40,40,1.00);font-weight: 500;}
.bgadssec-content-option h2 {font-size: 20px;text-align: center;margin: 50px 0px 0px 0px;color: white;width: 350px;height: 35px;border-radius: 5px;background-color: #D00000;box-shadow: 0px 5px rgb(0 0 0 / 25%);font-weight: 500;}
.bgadssec-content-option a {float: inherit}
.bgadssec-content-option div.bgadssec-content-option-1:link,div.bgadssec-content-option-1:visited {margin: 0px;}
.bgadssec-content-option div.bgadssec-content-option-1:hover,div.bgadssec-content-option-1:active {margin: 5px;transition: 0.2s;box-shadow: 0px 0px 10px 0px crimson;}
.bgadssec-content-option div.bgadssec-content-option-2:link,div.bgadssec-content-option-2:visited {margin: 5px;}
.bgadssec-content-option div.bgadssec-content-option-2:hover,div.bgadssec-content-option-2:active {margin: 0px;transition: 0.2s;box-shadow: 0px 0px 10px 0px crimson;}
.bgadssec-content-option div.bgadssec-content-option-3:link,div.bgadssec-content-option-3:visited {margin: 5px;}
.bgadssec-content-option div.bgadssec-content-option-3:hover,div.bgadssec-content-option-3:active {margin: 0px;transition: 0.2s;box-shadow: 0px 0px 10px 0px crimson;}

.bgadstrh-content-bg-invisible {width: 100%;height: 100px;}
.bgadstrh-content-bg {background-image: url("../img/franqueado.jpg");width: 1150px;height: 250px;top: 100px;}
.bgadstrh-content-title h1 {color: white;padding: 40px 0px 0px 0px}
.bgadstrh-content-title h3 {color: white;font-weight: 500;}
.bgadstrh-content-option a {text-decoration: none;}
.bgadstrh-content-option h2 {font-size: 18px;text-align: center;margin: 25px 0px 0px 0px;color: white;width: 100px;height: 30px;border-radius: 5px;background-color: #D00000;box-shadow: 0px 5px rgb(0 0 0 / 25%);font-weight: 500;padding: 5px 0px 0px 0px}
.bgadstrh-content-option h2.bgadstrh-content-option-1:link,h2.bgadstrh-content-option-1:visited {background-color: #D00000}
.bgadstrh-content-option h2.bgadstrh-content-option-1:hover,h2.bgadstrh-content-option-1:active {background-color: #C00000;transition: 0.5s;box-shadow: 0px 0px rgb(0 0 0 / 0%);}

.bgmap-content-bg-invisible {width: 100%;height: 50px;}

.bgfooter-content-table-bobs img {right: 360px;top: 100px;position: relative;}
.bgfooter-content-list ul {list-style-type: none;display: inline-block;}
.bgfooter-content-list li {margin: 0px 300px 0px 0px;text-align: left;}
.bgfooter-content-list a.bgfooter-content-table-li-a:link,a.bgfooter-content-table-li-a:visited {text-decoration: none;color: rgba(245,245,245,1.00);margin: 2px;font-size: 18px;}
.bgfooter-content-list a.bgfooter-content-table-li-a:hover,a.bgfooter-content-table-li-a:active {text-decoration: underline;color: rgba(255,255,255,1.00);transition: 0.2s;margin: 0px;}

.bgfooter-content-table-title-1 table {left: 120px;position: relative;bottom: 100px;color: white;font-weight: 400;}
.bgfooter-content-table-title-2 table {left: 0px;position: relative;bottom: 70px;color: white;font-weight: 400;}


