name: WytcheR

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: default
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        
      - name: Check updates and install NGINX
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: "root"
          password: ${{ secrets.PASSWORD }}
          script: |
            sudo apt update
            sudo apt install -y nginx

        - name: copy all files
          uses: appleboy/scp-action@v0.1.2
          with:
            host: ${{ secrets.HOST }}
            username: "root"
            password: ${{ secrets.PASSWORD }}
            source: "./"
            target: "/var/www/html"